#geo-map {
  height: 540px;
  width:  1000px;
  /*border-color: #ccc;*/
  /*border-style:solid;*/
  /*border-width:1px;*/
}

#geo-graph {
  height: 700px;
  width:  100px;
  padding: 5px;
/*  border-color: #ccc;
  border-style:solid;
  border-width: 1px;*/
}