#geo-map {
  height: 550px;
  width:  640px;
  /*border-color: #ccc;*/
  /*border-style:solid;*/
  /*border-width:1px;*/
}

#geo-graph {
  height: 550px;
  width:  300px;
  /*border-color: #ccc;*/
  /*border-style:solid;*/
  /*border-width: 1px;*/
}